#router-outlet-wrapper {
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // width: 100%;
}

#map-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 400px;
    background: #eeeeee;
}