<div class='list-view'>
    <div class='athlete-header'>
        <div class='profile-picture'>
            <img [src]='athlete.profile' />
        </div>
        <div class='profile-info'>
            <div>{{athlete.firstname}} {{athlete.lastname}}</div>
            <div>{{athlete.username}}</div>
        </div>
    </div>
    <div class='feeds'>
        <div (click)='loadActivities()'>me</div>
        <div (click)='loadActivitiesFollowing()'>following</div>
    </div>

    <ul>
        <li *ngFor='let activity of activities' (click)="loadActivity(activity)">
            <!-- <img [src]="activity?.mapThumbnail" /> -->

            <h4>{{activity.name}}</h4>
            <p>{{activity.athlete.firstname}} {{activity.athlete.lastname}}</p>
            <p>
                {{activity.distanceKm | number : '1.2-2'}} km, {{activity.startTime}}
            </p>
        </li>
    </ul>

    <p>
        <a href="
                    https://www.strava.com/oauth/authorize?client_id=6158&response_type=code&redirect_uri=http://localhost:4200/token_exchange&scope=view_private,public&state=mystate&approval_prompt=force">Login</a>
    </p>
</div>

<app-activity-overlay [activity]='detailedActivity'></app-activity-overlay>